.svg {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  margin: auto;
  width: 24px;
  height: 24px;
  fill: #000;
}
.gpu {
  transform: translate3d(0, 0, 0);
  will-change: transform, opacity;
}
.parent {
  zoom: 1;
}
.parent:before,
.parent:after {
  content: "";
  display: table;
}
.parent:after {
  clear: both;
}
.user {
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.overflow {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
